@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


body {
    background: url('aszok.png');
    background-size: 300px;
}

.fk{
    font-weight: bold;
}

.piros{
    color: red;
    font-weight: bold;
}

.fekete{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.zold{
    color: green;
    font-weight: bold;
}

.kek{
    color: blue;
    font-weight: bold;
}

h1
{
    font-family: 'Alex Brush', cursive!important;
    font-size: 100px!important;
    text-align: center;
}

.g_{
    color: green;
    font-weight: bold;
}

.alakzat{
    text-align: center;
    margin: 0;
    font-size: 600%;
}

.kepalairas{
    size: 12px;
    text-align: center;
    font-style: italic;
    border: 1px black solid;
    border-radius: 6px;
}
.b_{
    color: blue;
    font-weight: bold;
}

li{
    border: 130%;
    list-style-image: url(joker-felsorolas.png);
}